body, html{
	background-color: white;
	height: 100%;
	scroll-behavior: smooth;
	font-family: nobel, sans-serif;
	font-style: normal;
	margin: 0;
  padding: 0;
}

h1 {
	font-family: nobel, sans-serif;
	font-weight: 300;
	font-style: normal;
}

p {
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: nobel, sans-serif;
	font-weight: 300;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #575757;
	transition: 0.3s;
}

a:hover {
	color: #8d8d8d;
}

.container {
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.page-content {
	width:100%;
}

#navbar {
  background-color: blue; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
	padding: 40px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: orange;
  color: white;
}



/**Home**/
.home {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home video {
  position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.home .content {
  position: relative;
	z-index: 1;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.home .content h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5 em;
	text-transform: uppdercase;
	color: #fff;
}

.home .content p {
	font-size: 1.5 em;
	color: #fff;
}


.arrow {
	border: solid black;
	border-color: #575757;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.3s;
  animation: bounce 4s infinite;
  margin: 20px;
}

.arrow:hover {
	-webkit-animation-play-state: paused;
	opacity: 60%;
	transform: scale(1.25) rotate(45deg);
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    transform: translateY(-15px) rotate(45deg);
  }
}


/**Stats**/
.stats {
	margin: 0;
	background-color: #F0F0F0;
	min-height: 100vh;
}

.stats .columnLeft {
	margin: 5% 0 5% 5%;
	width: 30%;
	background-color: gray;
	float:left;
}

.stats .columnLeft img {
	margin: 5% 0 5% 5%;
	width: 80%;
	float:left;
}

.stats .columnRight {
	margin: 5% 5% 5% 0;
	width: 60%;
	float: right;
}

.stats .columnRight #content {
	padding: 20px;
}



/**Videos**/
.videos {
	background-color: beige;
	padding: 50px;
	min-height: 100vh;
}


/**Footer**/

.footer {
	height: 15em;
	text-align: center;
	background-color: #F0F0F0;
}

#social-container * {
	padding: 6px;
	margin-bottom: 6px;
}

#social-container a {
	color: #575757;
	transition: .4s;
}

#social-container a:hover {
	color: #8d8d8d;
}

#copyright {
	color: #8d8d8d;
	font-size:14px;
}




